@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Reey-Regular';
    src:  url('./Font/Reey-Regular.ttf.woff') format('woff'),
    url('./Font/Reey-Regular.ttf.svg#Reey-Regular') format('svg'),
    url('./Font/Reey-Regular.ttf.eot');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'DM Sans', sans-serif;
    font-size: 10px;
    line-height: 1.5;
    color: #545454;
}
body{
    font-family: 'DM Sans', sans-serif;
}

a{
	text-decoration: none;
	color: #eee;
}

:root{
    --thm-font: 'DM Sans', sans-serif;
    --thm-reey-font: 'Reey-Regular';
    --thm-gray: #787780;
    --thm-gray-rgb: 120, 119, 128;
    --thm-primary: #e8604c;
    --thm-primary-rgb: 232, 96, 76;
    --thm-black: #313041;
    --thm-black-rgb: 49, 48, 65;
    --thm-base: #ffffff;
    --thm-base-rgb: 255, 255, 255;
    --thm-clr-extra: #e3e3e3;
    --thm-border-radius: 8px;
    --thm-letter-spacing: -0.02em;
}